#installer {
    align-items:     center;
    display:         flex;
    height:          100%;
    justify-content: center;
}

#process {
    background:    #fff;
    border-radius: 0.3rem;
    box-shadow:    0 1px 10px rgba(#000, .5);
    height:        80%;
    width:         80%;
}
