// Load variables and functions
@import "../master-variables";
@import "../master-mixins";

// ----------------------------

// Body
// ===================================
#page-wrapper {
	background: @pageBg;
	box-shadow: 0 0 5px fade(#000, 50%);
	padding: 10px 0 20px;
}
